.app {
  padding: 30px 15px 15px 15px;
  display: block;
  margin: 20px auto;
  background-color: #faeaeb;
  max-width: 800px;
  border-radius: 20px;
  border: 2px #19495e solid;
}

h1 {
  font-size: 36px;
  color: #19495e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 auto;
}

#temp {
  color: #19495e;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 0 auto 15px auto;
  font-size: 45px;
  line-height: 1;
}

.unit {
  color: #19495e;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  position: relative;
  top: -12px;
}

h3 {
  color: #19495e;
  font-size: 16px;
  opacity: 0.9;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 4px auto;
}

#description {
  text-transform: capitalize;
}

.card,
#change-city-form,
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #276c8d;
  font-size: 14px;
  margin: 0;
}

#change-city-field {
  font-size: 14px;
}

#change-city-field:focus {
  border: 1px solid #0f74a71f;
  box-shadow: 0 0 0 0.25rem #0f74a759;
}

input.change-city,
button.locate {
  width: 100%;
  background-color: #276c8d;
  border: #276c8d;
}

button.locate {
  max-width: 50px;
}

input.change-city:hover,
button.locate:hover {
  background-color: #0f74a7;
}

.btn,
.btn.active,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #276c8d;
  font-size: 14px;
}

.img-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.today {
  margin: 15px 0 15px 0;
}

#icon-today {
  max-height: 180px;
  width: auto;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

img.sunrise {
  width: 30px;
  height: auto;
}

div.forecast {
  margin: 0 0 10px 0;
  padding: 4px;
}

.card {
  background-color: #faeaeb;
  border: none;
  transition: all 200ms ease-in-out;
}

.card:hover {
  background-color: #0f74a7;
  color: #faeaeb;
}

div.card-header,
div.card-body {
  text-align: center;
  background: none;
  border: none;
}

img.forecast {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto 10px auto;
}
img.temp-forecast {
  width: 10px;
  height: auto;
}

footer {
  font-size: small;
  text-align: center;
  padding-top: 7px;
}

a {
  text-decoration: none;
  color: #0f74a7;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #19495e;
  cursor: default;
}

a.active:hover {
  text-decoration: none;
}
